
/**
 * Variables and Bootstrap overrides
 */

// Colors
//...............

$color-orange			: #f47a30;
$color-yellow			: #f3ac1d;
$color-blue				: #204fd3;
$color-light-grey		: #e7e7e7;

$primary-color:          $color-orange;
$second-color:           $color-yellow;
$third-color:            $color-blue;
$fourth-color:           $color-light-grey;

$body-bg:                #fff;
$text-color:             #131313;

// Fonts
//...............
$primary-font:           "Lato", Helvetica, Arial, sans-serif;
$title-font: 			 'Source Sans Pro', sans-serif;
$secondary-font:         "Arvo", Georgia, Times, serif;
$font-size:              18px;

//fonts-type
$font_thin:'';
$font_light: '300';
$font_regular:'400';
$font_smbold:'600';
$font_bold:'700';

