/**
 * Variables and Bootstrap overrides
 */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,100,900);
/*@include font-face("ITCAvantGardePro-Bold", font-files(
                "ITCAvantGardePro-Bolde.ttf", 
                "ITCAvantGardePro-Bolde.otf", 
                "ITCAvantGardePro-Bolde.woff", 
                "TCAvantGardePro-Bolde.svg"
              ));*/
body {
  background: #fff;
  font: 18px "Lato", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  color: #131313;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%; }

ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.3em; }

*:focus, *:active {
  outline: none; }

a {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

/** WRAPPER and For Responsive nav To work properly
===================================*/
.wrapper {
  width: 100%;
  position: relative; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }
  .wrapper .wrapper-inner {
    transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
    position: relative;
    width: 100%;
    display: block;
    margin-right: 0; }
  .wrapper .mask-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: -1;
    opacity: 0;
    transition: all 350ms ease; }
  .wrapper .wrapper-active {
    margin-right: -60%;
    float: right; }
    .wrapper .wrapper-active .mask-wrapper {
      opacity: 1;
      z-index: 11; }
  .wrapper .on-active-right .mask-wrapper {
    opacity: 1;
    z-index: 11; }

/** BUTTONS
===================================*/
.btn-orange, .btn-blue {
  background: none;
  border: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  min-width: 185px;
  padding: 11px 25px;
  background: #f47a30;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .btn-orange:hover, .btn-blue:hover, .btn-orange:active, .btn-blue:active, .btn-orange:focus, .btn-blue:focus {
    background: #204fd3;
    text-decoration: none;
    color: white; }

.btn-blue {
  background: #204fd3; }
  .btn-blue:hover {
    background: #f47a30; }

/** TITLE
===================================*/
.title-md {
  margin: 0;
  margin-bottom: 20px;
  font: 700 38px/1.1 'Lato', sans-serif;
  color: #204fd3; }
  @media screen and (min-width: 48em) {
    .title-md {
      font-size: 48px; } }

/** SPACE
===================================*/
.space15 {
  height: 15px;
  display: block;
  width: 100%; }

.space20 {
  height: 20px;
  display: block;
  width: 100%; }

.space30 {
  height: 30px;
  display: block;
  width: 100%; }

.space45 {
  height: 45px;
  display: block;
  width: 100%; }

.space60 {
  height: 60px;
  display: block;
  width: 100%; }

.section-space, .core-appinstall, .core-trending, .core-engagement, .core-target, .core-campaign, .core-contact {
  padding: 60px 0; }
  .section-space:before, .core-appinstall:before, .core-trending:before, .core-engagement:before, .core-target:before, .core-campaign:before, .core-contact:before, .section-space:after, .core-appinstall:after, .core-trending:after, .core-engagement:after, .core-target:after, .core-campaign:after, .core-contact:after {
    content: " ";
    display: table; }
  .section-space:after, .core-appinstall:after, .core-trending:after, .core-engagement:after, .core-target:after, .core-campaign:after, .core-contact:after {
    clear: both; }

.wow {
  visibility: hidden; }

/*==== CHECKBOX DAN RADIO ======*/
.checkbox, .radio {
  font-size: 13px; }
  .checkbox label, .radio label {
    padding-left: 0; }
  .checkbox input[type="checkbox"], .radio input[type="checkbox"] {
    margin-top: 7px; }

input[type="checkbox"], input[type="radio"] {
  display: none; }

/*====== CHECKBOX ======*/
input[type="checkbox"] + label span {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: -4px 7px 0 0;
  vertical-align: middle;
  background: url('../img/checkbox.png?1440608328') left top no-repeat;
  cursor: pointer; }

input[type="checkbox"]:checked + label span {
  background: url('../img/checkbox.png?1440608328') right top no-repeat; }

/*====== RADIO ======*/
input[type="radio"] + label span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 3px 10px 0 0;
  vertical-align: middle;
  background: url('../img/radio_fill.png?1445813047') 0 0 no-repeat;
  cursor: pointer;
  float: left;
  background-size: 15px auto;
  -moz-background-size: 15px auto;
  -webkit-background-size: 15px auto; }

input[type="radio"]:checked + label span {
  background: url('../img/radio_empty.png?1445813047') 0 0 no-repeat;
  background-size: 15px auto;
  -moz-background-size: 15px auto;
  -webkit-background-size: 15px auto; }

/** HEADER
===================================*/
/** MAIN NAV
===================================*/
.nav {
  display: none;
  text-align: center; }
  @media screen and (min-width: 50em) {
    .nav {
      display: block; } }
  .nav ul {
    zoom: 1;
    width: 100%;
    /*height:51px;*/
    list-style: none;
    margin: 0;
    padding: 0; }
    .nav ul li {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
      .nav ul li a {
        padding: 8px 18px;
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15px;
        color: black; }
        @media screen and (min-width: 800px) and (max-width: 1200px) {
          .nav ul li a {
            padding-right: 10px;
            padding-left: 10px; } }
      .nav ul li:hover > a {
        color: white;
        background: #1b6097;
        text-decoration: none; }
      .nav ul li ul {
        height: auto;
        border: 0;
        position: absolute;
        max-width: 250px;
        z-index: 80;
        display: none;
        margin: 0;
        padding: 0;
        background: #1b6097; }
        .nav ul li ul a {
          padding: 10px;
          _height: 10px;
          /*IE6 only*/
          display: block;
          float: none;
          text-transform: none;
          font-size: 0.8em; }
          .nav ul li ul a:hover {
            background-color: #0C5996;
            color: #fff; }
      .nav ul li li {
        float: none;
        display: block;
        border: 0;
        border-bottom: 1px solid #2771AD;
        text-align: left; }
        .nav ul li li:last-child {
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          box-shadow: none; }

/*arrow*/
.nav ul ul li:first-child > a {
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px;
  border-radius: 8px 8px 0 0; }

.nav ul ul li:first-child > a:after {
  content: '';
  position: absolute;
  left: 40px;
  top: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #444; }

/*====== HUMBERBER BUTTON ======*/
.btn-rwd-sidebar {
  display: block;
  margin-top: 0;
  float: right;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background-color: #50555a;
  color: white;
  position: absolute;
  left: 0;
  top: 0; }
  @media screen and (min-width: 50em) {
    .btn-rwd-sidebar {
      display: none; } }

/*====== RESPONSIVE MENU ======*/
.close-sidebar {
  text-align: right; }

.nav-rwd-sidebar {
  width: 60%;
  z-index: 999;
  background-color: #50555a;
  position: fixed;
  height: 100%;
  transition: all 500ms ease;
  padding: 15px 0 30px;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll; }
  .nav-rwd-sidebar .nav-sidebar {
    margin-top: 50px; }
  .nav-rwd-sidebar ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
    margin-top: 15px; }
    .nav-rwd-sidebar ul li a, .nav-rwd-sidebar ul li span {
      font-size: 13px;
      text-transform: capitalize;
      padding: 8px 15px;
      display: block;
      font-weight: 600; }
    .nav-rwd-sidebar ul li a:hover, .nav-rwd-sidebar ul li a:focus {
      color: white;
      background-color: #313131;
      text-decoration: none; }

.nav-rwd-sidebar {
  margin-left: -60%; }
  .nav-rwd-sidebar .btn-hide {
    margin-left: 30px;
    margin-top: 20px;
    height: 42px;
    width: 42px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    text-align: center;
    line-height: 42px;
    background-color: #313131;
    color: white;
    box-shadow: inset 0 0 0 2px #313131; }
    .nav-rwd-sidebar .btn-hide:hover, .nav-rwd-sidebar .btn-hide:focus {
      background-color: transparent;
      color: #c1c1c1; }
  .nav-rwd-sidebar.sidebar-active {
    margin-left: 0; }
  .nav-rwd-sidebar ul li a, .nav-rwd-sidebar ul li span {
    padding-left: 30px;
    color: white; }
  .nav-rwd-sidebar ul li:hover a, .nav-rwd-sidebar ul li:focus a {
    color: #f1f1f1; }

/** HERO
===================================*/
.hero {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 11% 0;
  overflow: hidden; }
  @media screen and (min-width: 62em) {
    .hero {
      padding: 70px 0; } }

.hero-main .desc {
  color: white;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .hero-main .desc {
      float: left;
      width: 66.66667%; } }
  @media (min-width: 992px) {
    .hero-main .desc {
      float: left;
      width: 50%; } }
  .hero-main .desc h2 {
    margin: 0;
    margin-bottom: 16px;
    font: 700 38px/1em 'Montserrat', sans-serif;
    color: #f47a30;
    font-style: italic; }
    @media screen and (min-width: 62em) {
      .hero-main .desc h2 {
        font-size: 43px; } }
.hero-main .intro-thumb {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .hero-main .intro-thumb {
      float: left;
      width: 33.33333%; } }
  @media (min-width: 992px) {
    .hero-main .intro-thumb {
      float: left;
      width: 50%; } }
  @media screen and (max-width: 48em) {
    .hero-main .intro-thumb {
      max-width: 250px;
      margin: 30px auto 0; } }
.hero-main .logo {
  margin-bottom: 50px; }
  @media screen and (min-width: 62em) {
    .hero-main .logo {
      margin-bottom: 95px; } }
.hero-main .btn-orange, .hero-main .btn-blue {
  margin-top: 12px; }

.logo figure {
  max-width: 334px;
  overflow: hidden;
  margin: 0 auto 10px; }
  @media screen and (min-width: 42em) {
    .logo figure {
      width: 300px; } }
  @media screen and (min-width: 48em) {
    .logo figure {
      margin: 0; } }

.core-appinstall header {
  text-align: center;
  max-width: 650px;
  margin: 0 auto 50px; }
  .core-appinstall header .title-md {
    color: #f47a30; }

.appinstalls {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center; }

.appinstalls-item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  /* non-flexbox browsers */
  -webkit-flex: 1 auto;
  flex: 1 auto;
  padding: 0 .5em;
  margin-bottom: 15px;
  text-align: center; }
  @media screen and (max-width: 62em) {
    .appinstalls-item {
      margin-bottom: 40px; } }
  .appinstalls-item figure {
    margin-bottom: 18px; }
  .appinstalls-item .caption {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400; }
    .appinstalls-item .caption .fa {
      font-size: 1.2em;
      color: #f47a30;
      margin-right: 10px; }

.core-trending {
  background-color: #f47a30;
  color: white; }
  .core-trending .thumb {
    text-align: center;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 350px;
    margin: 0 auto 35px; }
    @media (min-width: 768px) {
      .core-trending .thumb {
        float: left;
        width: 33.33333%; } }
    @media (min-width: 992px) {
      .core-trending .thumb {
        float: left;
        width: 50%; } }
    @media screen and (min-width: 48em) {
      .core-trending .thumb {
        margin-right: 48px;
        text-align: left;
        max-width: none; } }
  .core-trending .desc {
    overflow: hidden; }
    @media screen and (min-width: 62em) {
      .core-trending .desc {
        margin-top: 8vw; } }

.core-engagement {
  overflow: hidden; }
  .core-engagement .thumb {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 350px;
    margin: 0 auto 30px; }
    @media (min-width: 768px) {
      .core-engagement .thumb {
        float: left;
        width: 33.33333%; } }
    @media (min-width: 992px) {
      .core-engagement .thumb {
        float: left;
        width: 50%; } }
    @media screen and (min-width: 48em) {
      .core-engagement .thumb {
        margin: 0;
        margin-left: 60px;
        float: right;
        text-align: left;
        max-width: none; } }
  .core-engagement .desc {
    overflow: hidden; }
    @media screen and (min-width: 62em) {
      .core-engagement .desc {
        margin-top: 5vw; } }

.core-target {
  background-color: #e7e7e7; }
  .core-target .targetWrap {
    text-align: center; }
  .core-target .target-item {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    vertical-align: top;
    width: 100%;
    padding: 0 1em; }
    .core-target .target-item figure {
      margin-bottom: 50px; }
      @media screen and (max-width: 45em) {
        .core-target .target-item figure {
          max-width: 350px;
          margin: 0 auto 50px; } }
    @media screen and (min-width: 45em) {
      .core-target .target-item {
        width: 48%;
        padding: 0 3em; } }
    .core-target .target-item .title-md {
      font-size: 36px; }

.core-campaign .thumb {
  text-align: left;
  display: none;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .core-campaign .thumb {
      float: left;
      width: 33.33333%; } }
  @media (min-width: 992px) {
    .core-campaign .thumb {
      float: left;
      width: 50%; } }
  @media screen and (min-width: 48em) {
    .core-campaign .thumb {
      display: block;
      margin-right: 60px; } }
.core-campaign .desc {
  overflow: hidden; }

.core-contact {
  background-color: #f3ac1d; }
  .core-contact .thumb-form {
    text-align: center;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 350px;
    margin: 0 auto 40px; }
    @media (min-width: 768px) {
      .core-contact .thumb-form {
        float: left;
        width: 33.33333%; } }
    @media (min-width: 992px) {
      .core-contact .thumb-form {
        float: left;
        width: 50%; } }
    @media screen and (min-width: 48em) {
      .core-contact .thumb-form {
        text-align: left;
        float: right;
        margin: 0;
        margin-left: 40px;
        max-width: none; } }
  .core-contact .contact-form {
    overflow: hidden; }

.contact-form header {
  margin-bottom: 30px; }
.contact-form form .form-control {
  height: 55px; }
  .contact-form form .form-control:-moz-placeholder {
    color: black; }
  .contact-form form .form-control::-moz-placeholder {
    color: black; }
  .contact-form form .form-control:-ms-input-placeholder {
    color: black; }
  .contact-form form .form-control::-webkit-input-placeholder {
    color: black; }
.contact-form form .btn-blue {
  width: 100%;
  margin-top: 10px; }

/** FOOTER
===================================*/
#footer {
  padding: 20px 0; }
  #footer .foo-logo {
    width: 214px;
    overflow: hidden;
    margin: 0 auto 15px; }
    @media screen and (min-width: 42em) {
      #footer .foo-logo {
        float: left;
        margin: 0; } }
  #footer .copyright {
    text-align: center;
    font-size: 14px;
    padding-top: 20px; }
    @media screen and (min-width: 42em) {
      #footer .copyright {
        float: right;
        margin: 0;
        text-align: right; } }
    #footer .copyright p {
      margin: 0; }

/*====== 2.8.2 FORM VALIDATION NOTIFICATION ======*/
.alert {
  padding: 0; }

.notification {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 45px 10px 18px;
  text-align: left;
  position: relative;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .notification P {
    margin: 0; }
  .notification.error {
    border: 1px solid #cb3838;
    background: #a81c1c; }
    .notification.error p {
      color: #dcdcdc; }
  .notification.success {
    background-color: #FFE9BC;
    border: 1px solid #D08E0A; }

.icon-close {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer; }
  .icon-close:hover {
    opacity: 0.7;
    filter: alpha(opacity=70); }
