@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
//font-family: 'Montserrat', sans-serif;

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,100,900);
//font-family: 'Lato', sans-serif;

//COMPASS CODE
/*@include font-face("ITCAvantGardePro-Bold", font-files(
                "ITCAvantGardePro-Bolde.ttf", 
                "ITCAvantGardePro-Bolde.otf", 
                "ITCAvantGardePro-Bolde.woff", 
                "TCAvantGardePro-Bolde.svg"
              ));*/
