/** FOOTER
===================================*/
#footer{
	padding: 20px 0;

	.foo-logo{
		width: 214px;
		overflow: hidden;
		margin: 0 auto 15px;
		@media screen and (min-width: 42em){
			float: left;
			margin: 0;
		}
	}

	.copyright{
		text-align: center;
		font-size: 14px;
		padding-top: 20px;
		@media screen and (min-width: 42em){
			float: right;
			margin: 0;
			text-align: right;
		}

		p{
			margin: 0;
		}
	}
}