/** HERO
===================================*/
.hero{
	@include background-size(cover);
	background-repeat: no-repeat;
	background-position: center center;
	padding: 11% 0;
	overflow: hidden;
	@media screen and (min-width: 62em){
		padding: 70px 0;
	}
}

.hero-main{
	.desc{
		color: white;
		@include make-sm-column(8);
		@include make-md-column(6);
	
		h2{
			margin: 0;
			margin-bottom: 16px;
			font: 700 38px/1em 'Montserrat', sans-serif;
			color: $primary-color;
			font-style: italic;
			@media screen and (min-width: 62em){
				font-size: 43px;
			}
		}
	}
	.intro-thumb{
		@include make-sm-column(4);
		@include make-md-column(6);
		@media screen and (max-width: 48em){
			max-width:250px;
			margin: 30px auto 0;
		}
	}

	.logo{
		margin-bottom: 50px;
		@media screen and (min-width: 62em){
			margin-bottom: 95px;
		}
	}

	.btn-orange{
		margin-top: 12px;
	}
}
.logo{
	figure{
		max-width: 334px;
		overflow: hidden;
		margin: 0 auto 10px;
		@media screen and (min-width: 42em){
			width: 300px;
		}
		@media screen and (min-width: 48em){
			margin: 0;
		}
	}
}


.core-appinstall{
	@extend .section-space;
	header{
		text-align: center;
		max-width: 650px;
		margin: 0 auto 50px;
		.title-md{
			color: $primary-color;
		}
	}
}


.appinstalls{
	@include display-flex;
  	@include flex-direction(row);
  	@include flex-wrap(wrap);
  	justify-content: center;
}
.appinstalls-item{
	  	@include inline-block(); /* non-flexbox browsers */
    	@include flex(1 auto);
    	padding: 0 .5em;
    	margin-bottom: 15px;
    	text-align: center;
    	@media screen and (max-width: 62em){
    		margin-bottom: 40px;
    	}
    figure{
		margin-bottom: 18px;
	}
	.caption{
		font-size: 24px;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		.fa{
			font-size: 1.2em;
			color: $primary-color;
			margin-right: 10px;
		}
	}
}

.core-trending{
	@extend .section-space;
	background-color: $primary-color;
	color: white;

	.thumb{
		text-align: center;
		@include make-sm-column(4);
		@include make-md-column(6);
		max-width: 350px;
		margin: 0 auto 35px;
		@media screen and (min-width: 48em){
			margin-right: 48px;
			text-align: left;
			max-width: none;
		}
	}

	.desc{
		overflow: hidden;
		@media screen and (min-width: 62em){
			margin-top: 8vw;
		}
	}
}

.core-engagement{
	@extend .section-space;
	overflow: hidden;

	.thumb{
		@include make-sm-column(4);
		@include make-md-column(6);
		max-width: 350px;
		margin: 0 auto 30px;
		@media screen and (min-width: 48em){
			margin: 0;
			margin-left: 60px;
			float: right;
			text-align: left;
			max-width: none;
		}
	}

	.desc{
		overflow: hidden;
		@media screen and (min-width: 62em){
			margin-top: 5vw;
		}
	}
}

.core-target{
	@extend .section-space;
	background-color: $fourth-color;
	.targetWrap{
		text-align: center;
	}
	.target-item{
		text-align: left;

		@include inline-block();
		vertical-align: top;
		width: 100%;
		padding: 0 1em;

		figure{
			margin-bottom: 50px;
			@media screen and (max-width: 45em){
			    max-width: 350px;
				margin: 0 auto 50px;
			}
		}
		@media screen and (min-width: 45em){
			width: 48%;
			padding: 0 3em;
		}

		.title-md{
			font-size: 36px;
		}
	}
}

.core-campaign{
	@extend .section-space;

	.thumb{
		text-align: left;
		display: none;
		@include make-sm-column(4);
		@include make-md-column(6);
		@media screen and (min-width: 48em){
			display: block;
			margin-right: 60px;
		}
	}

	.desc{
		overflow: hidden;
	}
}

.core-contact{
	@extend .section-space;
	background-color: #f3ac1d;
	.thumb-form{
		text-align: center;
		@include make-sm-column(4);
		@include make-md-column(6);
		max-width: 350px;
		margin: 0 auto 40px;
		@media screen and (min-width: 48em){
			text-align: left;
			float: right;
			margin: 0;
			margin-left: 40px;
			max-width: none;
		}
	}
	.contact-form{
		overflow: hidden;
	}
}


.contact-form{
	header{
		margin-bottom: 30px;
	}
	form{
		.form-control{
			height: 55px;

			@include input-placeholder {
			    color: black;
			  }
		}

		.btn-blue{
			width: 100%;
			margin-top: 10px;
		}
	}
}